<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="html, css, python" />
	<meta name="description" content="Pagina para explirar los elementos de html y un poco de css" />
	<meta name="author" content="https://github.com/Juanklg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <link rel="icon" type="image/x-icon" href=""> -->
	<title>{{data.webapp}}</title>
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/{{app}}.css') }}"> -->
	<link rel="stylesheet" href="static/css/{{data.webapp}}.css">
	<link rel="stylesheet" href="static/css/layout.css">
	<link rel="stylesheet" href="static/css/global.css">
	<link rel="stylesheet" href="static/css/nav.css">

	{% block head %}{% endblock %}
</head>

<body>
	<header>
		<div>
			<h1>{{data.webapp}}</h1>
		</div>
	</header>

	<main>
		<nav>
			<ul>
				{%if data.app%}
				{% for view in data.app.view %}
				<li><a href="{{view}}">{{view}}</a></li>
				<!-- <figure class="hover-img">
					<img src="https://picsum.photos/id/200/440/320.jpg" />
					<figcaption>
					</figcaption>
				</figure> -->
				{% endfor %}
				{% endif%}
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
				<!-- <figure class="hover-img">
					<img src="https://picsum.photos/id/200/440/320.jpg" />
					<figcaption>
					</figcaption>
				</figure> -->
			</ul>
		</nav>
		<div class="container">
			{% block container %}{% endblock %}
		</div>
	</main>
	<footer>
		<h2>Botones fijos de la aplicacion</h2>
	</footer>
</body>

</html>