main nav ul{    
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
main nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
@media (max-width: 600px) {
    main nav ul{
        /* display: inline-block; */
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-around;
        
    }
}