{% extends "layout.html" %}
{% block body %}
<div class='home'>
    <p>
        Esta es una aplicacion que pretende ayudar a los emprendedores a organizar sus ideas.
        La idea es poder ingresar una redaccion dentro de la aplicacion y empezar a orgaizar los respectivos
        requerimientos que van surguiendo, vamos iterando sobre el producto y vamos materializando la idea.
    </p>
    <p>si ya eres parte de esto da click <a href="{{ url_for('login') }}">Aqui</a></p>
    <p>de lo contario <a href="{{ url_for('register') }}">registrate</a> para empezar a soñar y manifestar</p>
</div>
{% endblock %}